@model MVC_EF_Start.Models.Parks 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Federal Election Commission </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table.GeneratedTable {
            width: 60%;
            background-color: #ffffff;
            border-collapse: collapse;
            border-width: 2px;
            border-color: blue;
            border-style: double;
            color: #000000;
        }

            table.GeneratedTable td, table.GeneratedTable th {
                border-width: 2px;
                border-color: blue;
                border-style: double;
                padding: 3px;
            }

            table.GeneratedTable thead {
                background-color: #3ab72a;
            }

        * {
            box-sizing: border-box;
        }

        body {
            background-image: url('../img/ComboFEC.JPG');
            
            background-attachment: fixed;
            background-position: right;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the side navigation */
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
        }


            /* Side navigation links */
            .sidenav a {
                color: white;
                padding: 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color on hover */
                .sidenav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        /* Style the content */
        .content {
            margin-left: 200px;
            padding-left: 20px;
        }

        .auto-style1 {
            height: 94px;
            width: 458px;
            margin-top: 35px;
        }
    </style>
</head>
<body>

    <div class="sidenav">
        <a href="~/Home/Index">Home </a>
        <a href="~/Home/candidatemaster">Candidate Information</a>
        <a href="~/Test/Index">Individual Contribution to Committee Information </a>
        <a href="~/Home/committeetocandidate">Committee to Candidate Information</a>
        <a href="~/Home/aboutus">About Us</a>
    </div>

    <div class="content">
        <h2>Federal Election Commission</h2>
        <p class="auto-style1">Below shows all the data related to committees who have dontated to candidates running for office</p>
        If you would like to delete a record please click delete:<br />
        <button type="button"
                id="updateButton"
                class="btn btn-primary"
                onclick="Delete();">
            Delete
        </button>
        <br />
        <br />
        <p> If you would like to see visuals related to candidate contributions, please click <a href="~/Home/donutchart">here.</a> </p>
    </div>
    <table style="margin-left: auto; margin-right: auto;" class="GeneratedTable">
        <thead>
            <tr>
                <th>CommitteeName/ ID</th>
                <th>Transaction Date</th>
                <th>Transaction Amount </th>
                <th>Memo / Text</th>
                <th>CandidateName / ID </th>
            </tr>
        </thead>
        <tbody>
            @foreach (MVC_EF_Start.Models.Result park in Model.results)
            {
                <tr>
                    <td align="center"> @(park.committee_id)</td>
                    <td align="center"> @(park.name)</td>
                    <td align="center"> @(park.party)</td>
                    <td align="center"> @(park.last_file_date)</td>
                    <td align="center"> @(park.state)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

