@model MVC_EF_Start.Models.Parks





 
        <table>
            <tr class="table-tr-header">
                <td align="center" class="">Candidate ID</td>
                <td align="center" class="">Name</td>
                <td align="center" class="">Party Affliation </td>
                <td align="center" class="">Year of Election </td>
                <td align="center" class="">Candidate State </td>
            </tr>
             @foreach (MVC_EF_Start.Models.Result park in Model.results)
            {
        <tr>
            <td align="center"> @(park.candidate_ids)</td>
            <td align="center"> @(park.name)</td>
            <td align="center"> @(park.party)</td>
            <td align="center"> @(park.last_file_date)</td>
            <td align="center"> @(park.state)</td>
        </tr>
            }
        </table>
